<a href="https://colab.research.google.com/github/stonnneee/CS165-Final-Project/blob/master/DMA_'22___Kaggle_Competition_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Mining & Analytics: Tutorial 5

---

In [ ]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score

In [ ]:
# If you are using Google Colab, upload the proper files from Kaggle. 
# If you are using Google Colab, you can use ls to help you figure out what directory you are in.
train = pd.read_csv('sample_data/train.csv')
test = pd.read_csv('sample_data/test.csv')

In [ ]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

What is the majority class of `Survived`?

In [ ]:
train['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

Let's predict this as a naive classifier.

In [ ]:
actual = train['Survived']
prediction = np.zeros(len(train))
# accuracy_score(y_true=actual, y_pred=prediction)
accuracy_score(actual, prediction)

0.6161616161616161

Let's do this for our `test` dataframe as well.

In [ ]:
test['Survived'] = 0

In [ ]:
final_prediction = test[['PassengerId', 'Survived']]
final_prediction.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

To create a submission for the Kaggle Competition, use `to_csv` with the name of your file output. An example is below. Your file will be output in your current directory. On Google Colab, by default, this is `content`. For your predictions, you may need to use `index = False`, so take a look at your output file before submitting it.

In [ ]:
final_prediction.to_csv('my_prediction.csv')

Download this csv and upload it to Kaggle. Good luck! We are rooting for you :)